.event{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow: hidden;
    background-color: whitesmoke;
}