.create{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow: hidden;
    background-color: whitesmoke;

    .box:not(:last-child){
        margin-bottom: 0;
    }

    .create-main{
        display: flex; 
        flex-direction: column;

        article{

            .form{
                min-height: 100%;
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            .details-form{
                display: flex;
                flex: 1;
                flex-direction: column;
                min-height: 100%;

                .form-footer{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .is-next{
                    background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
                    border: none;
                    border-radius: 8px;
                    padding: 1.25rem;
                    box-shadow: 0px 0px 15px 4px rgb(0 198 255 / 25%) !important;
                }

                .is-previous{
                    border: none;
                    padding: 1.25rem;
                }
            }

            .right-panel{
                height: 100%;
                background: white;
                display: flex;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 32px;
                box-shadow: 0px 0px 15px 4px rgb(0 0 0 / 5%) !important;

                .footer{
                    color: white;
                    display: flex;
                    flex-direction: column;
                    align-self: flex-end;
                    justify-content: center;
                    padding: 1.5rem;
                    flex: 1;
                    font-weight: 700 !important;
                    overflow-wrap: break-word;
                    width: 100%;
                    border-radius: 0 0 32px 32px;
                    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);

                    .tag-contianer{
                        display: flex;
                        flex: 1;
                        flex-direction: row;
                    }

                    .footer-tag{
                        background: none; 
                        border-style: solid;
                        border-color: white;
                        border-width: 2px;
                        border-radius: 32px;
                        font-weight: 700;
                        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
                        color: white;
                        border-radius: 32;
                    }
                }

                .image-head{
                    width: 100%;
                    height: 50%;
                    border-radius: 32px 32px 0 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                  }

                .info-container{
                    background: white;
                    border-radius: 32px;
                    display: flex;
                    flex: 1;
                    box-shadow: 0px 0px 15px 4px rgb(0 0 0 / 5%) !important;
                }

            }
        }


        .create-form{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .file{
            display: inline;
            font-weight: 700;
        }

        .file-cta {
            min-height: 48px;
            border-radius: 8px 0 0 8px;
            border-top: none;
            border-bottom: none;
            border-left: none;
        }

        .file-label {
            align-items: center;
            min-height: 48px;
        }
    
        .file-name{
            background-color: whitesmoke;
            width: 100%;
            min-height: 48px;
            justify-content: flex-start;
            align-self: center;
            display: flex;
            max-width: 100%;
            border-radius: 0px 8px 8px 0px;
            border: none;
        }

    }

    .date-container{
        display: inline-flex;

        .select{
            margin-right: 10px;
        }
    }


    .react-timerange-picker{
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: default;
        text-align: center;
        border-radius: 8px;
        padding: 0 1rem 0 1rem;
        background-color: whitesmoke !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        min-height: 48px;
        outline: 0!important;
        position: relative;
        display: flex;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        box-sizing: border-box;
        font-weight: 700;
    
        .react-timerange-picker__wrapper{
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: default;
        border: none;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        min-height: 48px;
        outline: 0!important;
        position: relative;
        display: flex;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        box-sizing: border-box;
        width: 100%;
        font-weight: 700;
    
        }

    }

}