.create{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow: hidden;
    background-color: whitesmoke;

    .box:not(:last-child){
        margin-bottom: 0;
    }

    .create-main{
        min-height: 100%;
        padding-top: 0;
        padding-right: 0rem;
        padding-bottom: 0rem;
        display: flex; 
        flex-direction: column;


        .create-form{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .file{
            display: inline !important;
        }
    
        .file-name{
            min-width: 100% !important;
        }

    }

}