.image-container{
    display: flex;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 21px;
    padding: 0;
    flex-direction: column;
}