@font-face {
  font-family: 'GTE-Regular';
  src: local('GTE-Regular'), url(./fonts/GTEestiDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'GTE-Medium';
    src: local('GTE-Medium'), url(./fonts/GTEestiDisplay-Medium.ttf) format('truetype');
}

body {
font-family: 'GTE-Medium';
}

a:hover{
  color: #463853 !important;
}

input{
  font-family: 'GTE-Medium';
}

button{
  font-family: 'GTE-Medium';
}

select{
  font-family: 'GTE-Medium';
  border: none !important;
  color: gray !important;
  background-color: whitesmoke !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: gray !important;
}

.progress::-webkit-progress-value {
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%) !important;
}
.progress::-moz-progress-bar {
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%) !important;
}

.progress::-ms-fill {
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%) !important;
  border: none;
}

progress[value]::-webkit-progress-value {
  border-radius: 9999px;
}

.table th{
  border: none !important;
}

.table td{
  border: none !important;
}


