@import "~@creativebulma/bulma-divider";
@import "../node_modules/bulma-o-steps/bulma-steps.min.css";



@font-face {
  font-family: 'GTE-Regular';
  src: local('GTE-Regular'), url(./fonts/GTEestiDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'GTE-Medium';
    src: local('GTE-Medium'), url(./fonts/GTEestiDisplay-Medium.ttf) format('truetype');
}

.is-gradient{
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%) !important;
  color: white !important;
}

body {
font-family: 'GTE-Regular';
}

a:hover{
  color: #463853 !important;
}

input{
  font-family: 'GTE-Regular';
}

button{
  font-family: 'GTE-Regular';
}

select{
  font-family: 'GTE-Regular';
  border: none !important;
  color: gray !important;
  background-color: whitesmoke !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: gray !important;
}

.progress::-webkit-progress-value {
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%) !important;
}
.progress::-moz-progress-bar {
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%) !important;
}

.progress::-ms-fill {
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%) !important;
  border: none;
}

progress[value]::-webkit-progress-value {
  border-radius: 9999px;
}

table{
   border-radius: 12px;
}

.table th{
  border: none !important;
}

.table td{
  border: none !important;
}

.steps.is-vertical .steps-segment:not(:last-child){
  min-height: auto;
  flex-grow: 0 !important;
}

.steps.is-hollow .steps-marker{
  border: 0.3rem solid rgba(0,198,255,1) !important;
}

.steps-segment:after{
  background: linear-gradient(180deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%) !important;
}
